@media (prefers-color-scheme: light) {
  .browserSidebarContainer {
    background: linear-gradient(#f3ca52, #f6e9b2);
  }
}

@media (prefers-color-scheme: dark) {
  .browserSidebarContainer {
    background: linear-gradient(#2c2907, #544e0d);
  }
}

#sidebar-header {
  display: None;
}

.sidebar-splitter {
  border: none !important;
}

#main-window #titlebar {
  overflow: hidden;
  transition: height 0.3s 0.3s !important;
}

#main-window[titlepreface*="[Sidebery] "] #titlebar,
#main-window[titlepreface*="[Sidebery] "] #navigator-toolbox {
  height: 0 !important;
}

#main-window[titlepreface*="[Sidebery] "] #tabbrowser-tabs {
  z-index: 0 !important;
}

#main-window[titlepreface*="[Sidebery] "] #appcontent browser {
  border-radius: 8px;
  box-shadow: 0px 0px 8px 2px rgb(0 0 0 / 20%);
}

#main-window[titlepreface*="[Sidebery] "] #appcontent .browserStack {
  margin: 8px;
}

